#background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  overflow: hidden;
  font-family: "DM Sans Variable", sans-serif;
  /* text-align: center; */
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 40px;
  padding: 10px;
  text-align: center;
}
button#reset {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  font-size: 0.5em;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

#response {
  display: flex;
  justify-content: center;
  gap: 200px;
  max-width: 90vw;
}

#response p {
  margin-right: -4000px;
  transition: margin-right 3s ease;
}

.hasSubmitted #response p {
  margin-right: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  transition:
    transform 1s ease,
    opacity 1s ease,
    visibility 1s;
}

.hasSubmitted main {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  border: thin black solid;
  padding: 20px;
}

#form-input_button {
  display: flex;
  gap: 12px;
}

input {
  min-width: 300px;
  padding: 4px 8px;
}

p#error {
  background-color: red;
  color: white;
  padding: 2px 6px;
}

button {
  padding: 4px;
  width: 200px;
}

@media (min-width: 768px) {
  input {
    min-width: 700px;
  }
}

@media (min-width: 1024px) {
}
