#background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  overflow: hidden;
  font-family: "DM Sans Variable", sans-serif;
  padding: 0px 4px;
  /* text-align: center; */
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

button:hover {
  cursor: pointer;
}

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
header {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  /* width: 100vw; */
  font-size: 1.2em;
  padding: 10px;
  background-color: bisque;
  /* text-align: center; */
}

.navMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.5em;
  padding: 10px 20px;
}

#response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  /* width: 90vw; */
}

#response > * {
  animation: slide-in 1s ease both;
  animation-delay: calc(var(--i) * 150ms);
  /* margin-right: -4000px;
  transition: margin-right 3s ease; */
}

@keyframes slide-in {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: transalteX(0);
    opacity: 1;
  }
}

[data-palette="hidden"] #response > * {
  margin-right: 0px;
}

button#reset,
button#close {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 0.5em;
  width: 50px;
  padding: 5px 0px 0px 0px;
}

button#save,
button#login,
button#register {
  padding: 0px 12px;
}

button#save {
  background-color: bisque;
}

main {
  display: grid;
  place-items: center;
}

main > * {
  grid-area: 1 / 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  /* align-items: center; */
  /* border: thin black solid; */
  padding: 8px;
  font-size: 0.8em;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

form#paletteForm {
  transition:
    transform 1s ease,
    opacity 1s ease,
    visibility 1s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

[data-ui="empty"][data-palette="visible"] form#paletteForm {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

#loginRegisterModal {
  background-color: bisque;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition:
    transform 1s ease,
    opacity 1s ease,
    visibility 1s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: none;
}

[data-ui="loginRegister"] #loginRegisterModal {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

form#loginForm,
form#registerForm {
  background-color: bisque;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: none;
  padding: 20px;
  margin: 20px;
  transition:
    transform 1s ease,
    opacity 1s ease,
    visibility 1s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

[data-ui="login"] form#loginForm {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

[data-ui="register"] form#registerForm {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

button#close {
  position: absolute;
  top: 0px;
  right: 0px;
}

input {
  width: 260px;
  padding: 4px 8px;
  font-size: 0.8em;
}

p.error {
  background-color: red;
  color: white;
  padding: 2px 6px;
}

button[type="submit"] {
  padding: 4px;
  width: 200px;
}

@media (min-width: 768px) {
  header {
    font-size: 30px;
  }
  #response {
    gap: 50px;
  }
  form {
    padding: 8px 20px;
    font-size: 1em;
  }

  input {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  input#prompt {
    min-width: 600px;
  }
  #response {
    gap: 100px;
  }
}
